:root {
	--white: #E7EEEE;
	/* map background */
	--light-blue: #CFDEDE;
	/* grid lines*/
	--dark-gray: #101919;
	/* walls */
	/* vero: maybe something warmer? */
	--gray: #283e3e;
	/* interface background */
	--light-gray: #94B3B3;
	/* interface elements */
	--yellow: #FFB10A;
	/* light fill */
	--orange: #F07A05;
	/* light center */
	--brown: #83430C;
	/* doors */
}


html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--white);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
}


a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
select {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	/* padding: 0.4em; */
	box-sizing: border-box;
	border: 1px solid var(--light-gray);
	border-radius: 2px;
	color: var(--gray);
	background-color: var(--light-gray);
}

input:disabled {
	color: #ccc;
}

input[type='button'] {
	outline: none;
	padding: 0.3em 1em;
}

input[type='button']:disabled {
	color: #999;
}

input[type='button']:not(:disabled):active {
	background-color: #ddd;
}

input[type='number'] {
	appearance: textfield;
	text-align: right;
}

input[type='color'] {
	width: 100%;
	padding: 0px;
}

input[type='color']>div {
	border: 1.5px solid var(--light-gray);
}



.interface {
	background-color: var(--gray);
	color: var(--light-gray);
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 0 10px gray,
		inset 0 0 30px rgba(0, 0, 0, 0.25);
}